<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948914019182-q38863avmp0quop2amqcmhik37bvfqtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948914019182-q38863avmp0quop2amqcmhik37bvfqtj</string>
	<key>API_KEY</key>
	<string>AIzaSyDJNem-jjtnd_cD-THDp9c2jQgziO1rQps</string>
	<key>GCM_SENDER_ID</key>
	<string>948914019182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maverics.beapp.mini</string>
	<key>PROJECT_ID</key>
	<string>rocket-beapp-mini</string>
	<key>STORAGE_BUCKET</key>
	<string>rocket-beapp-mini.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948914019182:ios:370d636e20e2d41e413f7f</string>
</dict>
</plist>