<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456761750491-ks55llsn3o0g32oo65l3h9fhngmtlj5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456761750491-ks55llsn3o0g32oo65l3h9fhngmtlj5b</string>
	<key>API_KEY</key>
	<string>AIzaSyCLPevT_2VDjXNE3tpblHpzhaP8CwEEDrE</string>
	<key>GCM_SENDER_ID</key>
	<string>456761750491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.beapp.ios</string>
	<key>PROJECT_ID</key>
	<string>myawesomeapp-f9e3a</string>
	<key>STORAGE_BUCKET</key>
	<string>myawesomeapp-f9e3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456761750491:ios:fc6404904381b12d75adfe</string>
</dict>
</plist>